<style>
   .content {
    margin-bottom: 2rem;
  }

  .content h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
  }

  .content p {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
  }
</style>
<div class="content">
  {{> @partial-block }}
</div>