{{> header }} 
{{#> container }}
    {{#> content }}
      <h2>Hi, {{ name }}!<h2>
      </br>
      <p>Here is your password recovery token: {{ token }}</p>
    {{/content}}
    {{> subcontent text="Click below to refresh your password:" link="https://lubycash.com/forgot-password/refresh" button-text="Forgot password" }}
{{/container }}
{{> footer }} 