{{> header }} 
{{#> container }}
    {{#> content }}
      <h2>Welcome to lubycash, {{ name }}!<h2>
      </br>
      <p>Please wait a few moments, as we are evaluating if you are able to become our customer</p>
    {{/content}}
    {{> subcontent text="Click below to see all LubyCash services ;)" link="https://lubycash.com/services" button-text="Our services" }}
{{/container }}
{{> footer }} 